.main
  .edit-user.clearfix
    .edit-user-left-content
      = render 'layouts/edit-user-menu'
    .edit-user-right-content
      .edit-user-right-content__title
        プロフィール写真
      .edit-user-right-content__main.clearfix
        .edit-user-right-content__main-field-left
          .current-image
            - if @images.present?
              = image_tag(@images.last.content, class: "image-preview")
              = link_to '削除', user_image_path(id: @images.last.id), method: :delete, class: 'image-delete'
            - else
              = image_tag('noimageuser.jpg', class: 'image-preview')
        .edit-user-right-content__main-field-right
          .image-text
            正面から撮った鮮明な顔写真は、ホストとゲストが互いを知るうえでとても重要です。風景写真の人をなんの抵抗もなく受け入れられる人は少数派です! 写真は顔がはっきりわかるものを選び、個人情報や、先方のホストやゲストに伏せておきたい情報が写っていないことを確かめましょう。
          .image-field
            = form_for(@image) do |f|
              = f.file_field :content
              = f.hidden_field :user_id, value: current_user.id
              = f.submit "登録"
