.main
  .add-room.clearfix
    .add-room-left
      = form_for @room do |f|
        .add-room-left__form
          = f.fields_for :house_rule do |h|
            %h3 滞在中のハウスルールを設定しましょう
            %label.select-button
              = h.check_box :children, {}, true, false
              = h.label :children
            %label.select-button
              = h.check_box :infants, {}, true, false
              = h.label :infants
            %label.select-button
              = h.check_box :pets, {}, true, false
              = h.label :pets
            %label.select-button
              = h.check_box :smoking, {}, true, false
              = h.label :smoking
            %label.select-button
              = h.check_box :events, {}, true, false
              = h.label :events
            %h4 追加ルール
            = h.text_area :other_rules
            %h4 お家についてゲストが事前に知っておくべきこと
            %label.select-button
              = h.check_box :must_climb_stairs, {}, true, false
              = h.label :must_climb_stairs
            %label.select-button
              = h.check_box :potential_for_noise, {}, true, false
              = h.label :potential_for_noise
            %label.select-button
              = h.check_box :pets_live_on_property, {}, true, false
              = h.label :pets_live_on_property
            %label.select-button
              = h.check_box :no_parking_on_property, {}, true, false
              = h.label :no_parking_on_property
            %label.select-button
              = h.check_box :some_spaces_are_shared, {}, true, false
              = h.label :some_spaces_are_shared
            %label.select-button
              = h.check_box :amenity_limitations, {}, true, false
              = h.label :amenity_limitations
            %label.select-button
              = h.check_box :surveillance_or_recording_devices_on_property, {}, true, false
              = h.label :surveillance_or_recording_devices_on_property
            %label.select-button
              = h.check_box :weapons_on_property, {}, true, false
              = h.label :weapons_on_property
            %label.select-button
              = h.check_box :dangerous_animals_on_property, {}, true, false
              = h.label :dangerous_animals_on_property
            %h4 その他の注意事項
            = h.text_area :other_notice
        .add-room-left__submit
          = f.hidden_field :status, value: "非公開"
          = f.submit '次へ', name: 'flag3', class: 'submit'
    .add-room-right
      .add-room-right__notice
        = fa_icon 'lightbulb', name: 'flag2', class: 'icon'
        %h4 Notice
        %p 説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル
        %h4 Notice2
        %p 説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル
