.main
  .add-room.clearfix
    = form_for @room do |f|
      .add-room-left
        .add-room-left__form
          %span.item
            %h3 お部屋の様子を写真で旅行者に紹介しよう
            .main-image
              - if image = @images[0]
                = image_tag(image.content)
              - else
                = image_tag('noimageroom.png')
              = f.fields_for :room_images do |image|
                = image.file_field :content
                = image.hidden_field :status, value: "main"
          %span.item
            %h4 サブ画像
            - 3.times do |i|
              .sub-image
                - if image = @images[i+1]
                  = image_tag(image.content)
                - else
                  = image_tag('noimageroom.png')
                = f.fields_for :room_images do |image|
                  = image.file_field :content
                  = image.hidden_field :status, value: "sub"
          %h3 説明文を編集する
          %span.item
            %h4 概要
            = f.text_area :summary
          %h4 こんな人にぴったりの宿です
          %label.select-button
            = f.check_box :family, {}, true, false
            = f.label :family
          %label.select-button
            = f.check_box :group, {}, true, false
            = f.label :group
          %label.select-button
            = f.check_box :pets, {}, true, false
            = f.label :pets
        .add-room-left__submit
          = f.hidden_field :status, value: "非公開"
          = f.submit '次へ', name: 'flag2', class: 'submit'
      .add-room-right
        .add-room-right__notice
          = fa_icon 'lightbulb', name: 'flag2', class: 'icon'
          %h4 Notice
          %p 説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル
          %h4 Notice2
          %p 説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル
