.main
  .room-confirm
    %h3
      だいぶはかどりましたね！
      = current_user.firstname
      さん
    %p
      さあ、今度はリスティング掲載用にお部屋の詳しい説明を書きましょう。
      = form_for @room do |f|
        = f.hidden_field :category
        = f.hidden_field :property_type
        = f.hidden_field :room_type
        = f.hidden_field :occupied
        = f.hidden_field :capacity
        = f.hidden_field :bedrooms
        = f.hidden_field :beds
        = f.hidden_field :bathrooms
        = f.hidden_field :bathroom_private
        = f.hidden_field :location
        = f.hidden_field :summary
        = f.fields_for :amenity do |a|
          = a.hidden_field :essentials
          = a.hidden_field :wifi
          = a.hidden_field :shampoo
          = a.hidden_field :closet
          = a.hidden_field :tv
          = a.hidden_field :heat
          = a.hidden_field :air_condditioner
          = a.hidden_field :breakfast
          = a.hidden_field :workspace
          = a.hidden_field :fireplace
          = a.hidden_field :iron
          = a.hidden_field :hair_dryer
          = a.hidden_field :animals
          = a.hidden_field :private_entrance
          = a.hidden_field :smoke_detector
          = a.hidden_field :carbon_monoxide_detector
          = a.hidden_field :first_aid_kit
          = a.hidden_field :safety_card
          = a.hidden_field :fire_extinguisher
          = a.hidden_field :bedroom_lock
          = a.hidden_field :private_livingroom
          = a.hidden_field :pool
          = a.hidden_field :kitchen
          = a.hidden_field :laundry_washer
          = a.hidden_field :laundry_dryer
          = a.hidden_field :parking
          = a.hidden_field :elevator
          = a.hidden_field :hot_tub
          = a.hidden_field :gym
          = a.hidden_field :room
        .room-confirm__step
          %h4
            STEP1
          %h3
            基本情報
          %p
            ベッド数、バスルーム数、アメニティなど
          = f.submit '変更する', name: 'back', class: 'link-green'
        .room-confirm__step
          %h4
            STEP2
          %h3
            次に特徴をPR
          %p
            写真、概要、タイトル
        .room-confirm__step
          %h4
            STEP3
          %h3
            予約準備を整えてフィニッシュ！
          %p
            予約受付設定、カレンダー、料金
        .room-confirm__submit
          = f.submit '掲載を完了する', class: 'btn-small-green'
