.main
  .main-search
    %h3 Airbnbで探す
    .main-search__element
      = image_tag('sample1.jpg')
      %p 宿泊先
    .main-search__element
      = image_tag('sample2.jpg')
      %p 体験
    .main-search__element
      = image_tag('sample3.jpg')
      %p レストラン
  .main-airbnbplus
    %h3 Airbnb Plusが新登場
    .main-airbnbplus__element
      = image_tag('sample4.jpg')
      .main-airbnbplus__element-inline
        %p Airbnbの宿泊先の新グレード。
        %p 品質と快適性は認証済み。
        = button_tag('Airbnb Plus認証済みの部屋を探す')
  .main-rooms
    %h3 世界のお家
    .main-rooms__room
      .main-rooms__room-padding
        = image_tag('sample6.jpg')
        .main-rooms__room-padding-info
          %span.room-category 一軒家貸切 · 東京
          %span.room-name The EDO CASTLE
          %span.room-price ¥ 65,000/泊 · キャンセル無料
          %span.rate.rate5
    .main-rooms__room
      .main-rooms__room-padding
        = image_tag('sample6.jpg')
        .main-rooms__room-padding-info
          %span.room-category 一軒家貸切 · 東京
          %span.room-name The EDO CASTLE
          %span.room-price ¥ 65,000/泊 · キャンセル無料
          %span.rate.rate3
    .main-rooms__room
      .main-rooms__room-padding
        = image_tag('sample6.jpg')
        .main-rooms__room-padding-info
          %span.room-category 一軒家貸切 · 東京
          %span.room-name The EDO CASTLE
          %span.room-price ¥ 65,000/泊 · キャンセル無料
          %span.rate.rate2-5
    .main-rooms__room
      .main-rooms__room-padding
        = image_tag('sample6.jpg')
        .main-rooms__room-padding-info
          %span.room-category 一軒家貸切 · 東京
          %span.room-name The EDO CASTLE
          %span.room-price ¥ 65,000/泊 · キャンセル無料
          %span.rate.rate1
    .view-all
      全てを見る（2000+）
      =fa_icon 'angle-right'
  .main-features-two
    %h3 旅の目的別コレクション
    %h4.feature 旅に欠かせない設備充実の高評価な宿泊先から探してみよう
    .main-features-two__element
      .main-features-two__element-padding
        .main-features-two__element-padding-img
          =image_tag('sample7.jpg')
          %h2.feature ファミリー
        .main-features-two__element-padding-info
          %span.view-more 2,000+件の宿泊先
          %span.feature-text ファミリー大満足のお家を予約。家族水入らずでゆっくり過ごしましょう。
    .main-features-two__element
      .main-features-two__element-padding
        .main-features-two__element-padding-img
          =image_tag('sample8.jpg')
          %h2.feature 出張
        .main-features-two__element-padding-info
          %span.view-more 2,000+件の宿泊先
          %span.feature-text 高評価で柔軟な予約対応。ビジネス・出張に必要なアイテムをすべて備えた宿泊先を予約しよう。
  .main-features-three
    %h3 一度は泊まってみたいユニークなお家
    %h4.feature ユニークなお家で今までにない旅をしよう
    .main-features-three__element
      .main-features-three__element-padding
        =image_tag('sample5.jpg')
        .main-features-three__element-padding-info
          %span.view-more 1912件のツリーハウス
          %span.feature-title 樹上の秘密基地
          %span.feature-text 木の上に泊まって鳥になろう
    .main-features-three__element
      .main-features-three__element-padding
        =image_tag('sample5.jpg')
        .main-features-three__element-padding-info
          %span.view-more 1912件のボート
          %span.feature-title 海の旅
          %span.feature-text 大海原を渡った偉大な先人のパワーを感じよう。
    .main-features-three__element
      .main-features-three__element-padding
        =image_tag('sample5.jpg')
        .main-features-three__element-padding-info
          %span.view-more 1912件のユルト
          %span.feature-title グランピングにぴったりな宿
          %span.feature-text 中は快適、外は大自然。いいところどりできます。





