- provide(:title, "部屋を掲載してホストになる")
.main
  .add-room.clearfix
    .add-room-left
      .add-room-left__form
        = form_for @room do |f|
          %h3 掲載するのはどんなお部屋ですか?
          %span.item
            = f.label :category
            = f.select :category, Room.categories.keys
          %span.item
            = f.label :property_type
            = f.select :property_type, Room.propeety_types.keys
          %span.item
            = f.label :room_type
            = f.select :room_type, Room.room_types.keys
          %span.item
            = f.label :occupied
            %label
              = f.radio_button :occupied, true
              はい、主にゲスト専用のお部屋です
            %label
              = f.radio_button :occupied, false
              いいえ、こちらに私物も置いています
          %h3 最大何人まで宿泊可能ですか?
          %span.item
            = f.label :capacity
            = f.number_field :capacity, min: 0, placeholder: '定員'
          %span.item
            = f.label :bedrooms
            = f.number_field :bedrooms, min: 0, placeholder: 'ベッドルーム数'
          %span.item
            = f.label :beds
            = f.number_field :beds, min: 0, placeholder: 'ベッド数'
          %h3 バスルーム数は?
          %span.item
            = f.label :bathrooms
            = f.number_field :bathrooms, min: 0, placeholder: 'バスルーム数'
          %span.item
            = f.label :bathroom_private
            %label
              = f.radio_button :bathroom_private,true
              はい
            %label
              = f.radio_button :bathroom_private,false
              いいえ、共用です
          %h3 所在地は？
          %span.item
            = f.label :location
            = f.text_field :location, placeholder: '住所を入力してください', class: 'text_field'
          %h3 ご用意するアメニティ・設備は?
          = f.fields_for :amenity do |a|
            %span.item--amenity
              %label.select-button
                = a.check_box :essentials, {}, true, false
                = a.label :essentials
              %label.select-button
                = a.check_box :wifi, {}, true, false
                = a.label :wifi
              %label.select-button
                = a.check_box :shampoo, {}, true, false
                = a.label :shampoo
              %label.select-button
                = a.check_box :closet, {}, true, false
                = a.label :closet
              %label.select-button
                = a.check_box :tv, {}, true, false
                = a.label :tv
              %label.select-button
                = a.check_box :heat, {}, true, false
                = a.label :heat
              %label.select-button
                = a.check_box :air_condditioner, {}, true, false
                = a.label :air_condditioner
              %label.select-button
                = a.check_box :breakfast, {}, true, false
                = a.label :breakfast
              %label.select-button
                = a.check_box :workspace, {}, true, false
                = a.label :workspace
              %label.select-button
                = a.check_box :fireplace, {}, true, false
                = a.label :fireplace
              %label.select-button
                = a.check_box :iron, {}, true, false
                = a.label :iron
              %label.select-button
                = a.check_box :hair_dryer, {}, true, false
                = a.label :hair_dryer
              %label.select-button
                = a.check_box :animals, {}, true, false
                = a.label :animals
              %label.select-button
                = a.check_box :private_entrance, {}, true, false
                = a.label :private_entrance
              %h4 安全対策のアメニティ
              %label.select-button
                = a.check_box :smoke_detector, {}, true, false
                = a.label :smoke_detector
              %label.select-button
                = a.check_box :carbon_monoxide_detector, {}, true, false
                = a.label :carbon_monoxide_detector
              %label.select-button
                = a.check_box :first_aid_kit, {}, true, false
                = a.label :first_aid_kit
              %label.select-button
                = a.check_box :safety_card, {}, true, false
                = a.label :safety_card
              %label.select-button
                = a.check_box :fire_extinguisher, {}, true, false
                = a.label :fire_extinguisher
              %label.select-button
                = a.check_box :bedroom_lock, {}, true, false
                = a.label :bedroom_lock
              %h3 ゲストが利用可能なスペースは?
              %label.select-button
                = a.check_box :private_livingroom, {}, true, false
                = a.label :private_livingroom
              %label.select-button
                = a.check_box :pool, {}, true, false
                = a.label :pool
              %label.select-button
                = a.check_box :kitchen, {}, true, false
                = a.label :kitchen
              %label.select-button
                = a.check_box :laundry_washer, {}, true, false
                = a.label :laundry_washer
              %label.select-button
                = a.check_box :laundry_dryer, {}, true, false
                = a.label :laundry_dryer
              %label.select-button
                = a.check_box :parking, {}, true, false
                = a.label :parking
              %label.select-button
                = a.check_box :elevator, {}, true, false
                = a.label :elevator
              %label.select-button
                = a.check_box :hot_tub, {}, true, false
                = a.label :hot_tub
              %label.select-button
                = a.check_box :gym, {}, true, false
                = a.label :gym
          %span.item
            %h3 お部屋の様子を写真で旅行者に紹介しよう
            .main-image-upload
              = image_tag('noimageroom.png')
              = f.fields_for :room_images do |image|
                = image.file_field :content
                = image.hidden_field :status, value: "main"
          %span.item
            %h4 サブ画像
            - 3.times do |i|
              .sub-image-upload
                = image_tag('noimageroom.png')
                = f.fields_for :room_images do |image|
                  = image.file_field :content
                  = image.hidden_field :status, value: "sub"
          %h3 説明文を編集する
          %span.item
            %h4 概要
            = f.text_area :summary
          %h4 こんな人にぴったりの宿です
          %label.select-button
            = f.check_box :family, {}, true, false
            = f.label :family
          %label.select-button
            = f.check_box :group, {}, true, false
            = f.label :group
          %label.select-button
            = f.check_box :pets, {}, true, false
            = f.label :pets
          %h3 物件に名前をつける
          %span.item
            = f.text_field :title, class: 'text_field'
            = f.fields_for :house_rule do |h|
              %h3 滞在中のハウスルールを設定しましょう
              %label.select-button
                = h.check_box :children, {}, true, false
                = h.label :children
              %label.select-button
                = h.check_box :infants, {}, true, false
                = h.label :infants
              %label.select-button
                = h.check_box :pets, {}, true, false
                = h.label :pets
              %label.select-button
                = h.check_box :smoking, {}, true, false
                = h.label :smoking
              %label.select-button
                = h.check_box :events, {}, true, false
                = h.label :events
              %h4 追加ルール
              = h.text_area :other_rules
              %h4 お家についてゲストが事前に知っておくべきこと
              %label.select-button
                = h.check_box :must_climb_stairs, {}, true, false
                = h.label :must_climb_stairs
              %label.select-button
                = h.check_box :potential_for_noise, {}, true, false
                = h.label :potential_for_noise
              %label.select-button
                = h.check_box :pets_live_on_property, {}, true, false
                = h.label :pets_live_on_property
              %label.select-button
                = h.check_box :no_parking_on_property, {}, true, false
                = h.label :no_parking_on_property
              %label.select-button
                = h.check_box :some_spaces_are_shared, {}, true, false
                = h.label :some_spaces_are_shared
              %label.select-button
                = h.check_box :amenity_limitations, {}, true, false
                = h.label :amenity_limitations
              %label.select-button
                = h.check_box :surveillance_or_recording_devices_on_property, {}, true, false
                = h.label :surveillance_or_recording_devices_on_property
              %label.select-button
                = h.check_box :weapons_on_property, {}, true, false
                = h.label :weapons_on_property
              %label.select-button
                = h.check_box :dangerous_animals_on_property, {}, true, false
                = h.label :dangerous_animals_on_property
              %h4 その他の注意事項
              = h.text_area :other_notice
          .add-room-left__submit
            = f.submit '完了', class: 'btn-small-green'
    .add-room-right
      .add-room-right__notice
        = fa_icon 'lightbulb', class: 'icon'
        %h4 Notice
        %p 説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル
        %h4 Notice2
        %p 説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル説明文サンプル
